<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!--   <meta name="description" content="A United Nations web application to collect human rights violations around the world.">
 -->
<!--   <meta name="keywords" content="UN,united nations, human rights, violations, universal period review" />
 -->  <title>
  {% block title %}
  {% endblock title %}
  </title>
  <!-- Favicons (created with http://realfavicongenerator.net/)-->
  <link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static', filename='img/favicons/apple-touch-icon-57x57.png') }}">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename='img/favicons/apple-touch-icon-60x60.png') }}">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicons/favicon-32x32.png') }}" sizes="32x32">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicons/favicon-16x16.png') }}" sizes="16x16">
  <link rel="manifest" href="{{ url_for('static', filename='img/favicons/manifest.json') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicons/favicon.ico') }}">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
     <!-- upr specific styles -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/upr_styles.css') }}">
  </head>
<body>

    <!-- TOP NAV -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="United Nations Universal Period Review Logo">
          </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right main-nav">
            <li><a href="{{ url_for('about') }}" class="btn btn-blue">About UPR</a></li>
            <li><a href="{{ url_for('register_user') }}" class="btn btn-blue">Register</a></li>
            <li><a href="{{ url_for('login') }}" class="btn btn-blue">Login</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="container-fluid">
      <div class="row">
        <div class="col-md-12 text-center">
          <h3>United Nations</h3>
          <h1>Universal Periodic Review</h1>
        </div>
      </div>
    </header>

    <content class="container-fluid">
      {% block content %}
      {% endblock content %}
    </content>

    <footer>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-3">
            </div>
            <div class="col-md-6 text-center">
              &copy; 2016. Powered by <a href="http://www.phir.co/">Benetech Labs</a>
            </div>
            <div class="col-md-3">
            </div>
          </div>
        </div>
      </div>
    </footer>

  <!-- SCRIPTS -->
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Bootstrap 3 Javascript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
  </script>
</html>
