<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!--   <meta name="description" content="A United Nations web application to collect human rights violations around the world.">
 -->
<!--   <meta name="keywords" content="UN,united nations, human rights, violations, universal period review" />
 -->  <title>
  {% block title %}
  {% endblock title %}
  </title>
  <!-- Favicons (created with http://realfavicongenerator.net/)-->
  <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
  <link rel="icon" type="image/png" href="img/favicons/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="img/favicons/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="img/favicons/manifest.json">
  <link rel="shortcut icon" href="img/favicons/favicon.ico">
  <meta name="msapplication-TileColor" content="#00a8ff">
  <meta name="msapplication-config" content="img/favicons/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">
  <!-- upr specific styles -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/upr_styles.css') }}">
  <!-- Normalize -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.css') }}">
  <!-- Bootstrap from CDN -->
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- Owl -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/owl.css') }}">
  <!-- Animate.css -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/animate.css') }}">
  <!-- Font Awesome -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/font-awesome-4.1.0/css/font-awesome.min.css') }}">
  <!-- Elegant Icons -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/eleganticons/et-icons.css') }}">
  <!-- Main style -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/cardio.css') }}">
</head>
<body>
  <div class="preloader">
    <img src="{{ url_for('static', filename='img/loader.gif') }}" alt="Preloader image">
  </div>
  <nav class="navbar">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><img src="{{ url_for('static', filename='img/logo.png') }}" data-active-url="{{ url_for('static', filename='img/logo-active.png') }}" alt=""></a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right main-nav">
          <li><a href="#pricing">What is UPR?</a></li>
          <li><a href="#" data-toggle="modal" data-target="#modal1" class="btn btn-blue">Register</a></li>
          <li><a href="{{ url_for('login') }}" class="btn btn-blue" style="margin-bottom:10px;">Login</a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>
  <header id="intro">
    <div class="container">
      <div class="table">
        <div class="header-text">
          <div class="row">
            <div class="col-md-12 text-center">
              <h3 class="light white">United Nations</h3>
              <h1 class="white typed">Universal Periodic Review</h1>
              <span class="typed-cursor">|</span><br /><br /><br />
              <center>
                <p>
                  <input type="text" class="form-control form-white" placeholder="Enter username" name="username" style="width:30%;" />
                </p>
                <p>
                  <input type="password" class="form-control form-white" placeholder="Enter password" name="password" style="width:30%;"/>
                </p>
              </center>
              <p style="font-size:10px;">
                <a href="#">Forgot Username</a>
                <a href="#">Forgot Password</a>
              </p>
              <p>
              <a href="{{ url_for('account_details') }}" class="btn btn-blue" style="margin-bottom:10px;">Login</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

{% block content %}
{% endblock content %}

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 text-center-mobile">
          <h3 class="white">Do you have questions?</h3>
          <h5 class="light regular light-white">We're available by email to answer your questions.</h5>
          <a href="#" class="btn btn-blue ripple trial-button">Email us</a>
        </div>
        <div class="col-sm-6 text-center-mobile">
          <h3 class="white">Opening Hours <span class="open-blink"></span></h3>
          <div class="row opening-hours">
            <div class="col-sm-6 text-center-mobile">
              <h5 class="light-white light">Mon - Fri</h5>
              <h3 class="regular white">9:00 - 22:00</h3>
            </div>
            <div class="col-sm-6 text-center-mobile">
              <h5 class="light-white light">Sat - Sun</h5>
              <h3 class="regular white">10:00 - 18:00</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="row bottom-footer text-center-mobile">
        <div class="col-sm-8">
          <p>
            &copy; 2016. Powered by <a href="http://www.phir.co/">Benetech Labs</a>
          </p>
        </div>
      </div>
    </div>
  </footer>
<!-- Holder for mobile navigation -->
  <div class="mobile-nav">
    <ul>
    </ul>
    <a href="#" class="close-link"><i class="arrow_up"></i></a>
  </div>
  <!-- Scripts -->
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="{{ url_for('static', filename='js/typewriter.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.onepagenav.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>



