<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!--   <meta name="description" content="A United Nations web application to collect human rights violations around the world.">
 -->
<!--   <meta name="keywords" content="UN,united nations, human rights, violations, universal period review" />
 -->  <title>
  {% block title %}
  {% endblock title %}
  </title>
  <!-- Favicons (created with http://realfavicongenerator.net/)-->
  <link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static', filename='img/favicons/apple-touch-icon-57x57.png') }}">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename='img/favicons/apple-touch-icon-60x60.png') }}">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicons/favicon-32x32.png') }}" sizes="32x32">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicons/favicon-16x16.png') }}" sizes="16x16">
  <link rel="manifest" href="{{ url_for('static', filename='img/favicons/manifest.json') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicons/favicon.ico') }}">
<!-- Bootstrap from CDN -->
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <!-- upr specific styles -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/upr_styles.css') }}">
  </head>
<body>
  <!-- TOP NAV -->
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ url_for('index') }}">
          <img src="{{ url_for('static', filename='img/logo.png') }}" alt="United Nations Universal Period Review Logo">
        </a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right main-nav">
          <li><a href="{{ url_for('about') }}" class="btn btn-blue">About UPR</a></li>
          <li><a href="{{ url_for('register_user') }}" class="btn btn-blue">Register</a></li>
          <li><a href="{{ url_for('login') }}" class="btn btn-blue">Login</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <header id="intro">
    <div class="container">
      <div class="table">
        <div class="header-text">
          <div class="row">
            <div class="col-md-12 text-center">
              <h3 class="light white">United Nations</h3>
              <h1 class="white typed">Universal Periodic Review</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

{% block content %}
{% endblock content %}

  <footer>
    <div class="container">
      <div class="row bottom-footer text-center-mobile">
        <div class="col-sm-8">
          <p>
            &copy; 2016. Powered by <a href="http://www.phir.co/">Benetech Labs</a>
          </p>
        </div>
      </div>
    </div>
  </footer>

  <!-- SCRIPTS -->
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Bootstrap 3 js -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</html>



