
  {% extends "base.html" %}

  {% block title %}
    U.N. Universal Period Review - Home
  {% endblock title %}

  {% block content %}
{{ current_user.id }}
  <content>
    <div class="container">
      <div class="row">
        <div class="col-md-3 tile-button">
          <a href="#" class="btn btn-primary" role="button">See Submissions Data</a>
          <h5>See the Map of Universal Periodic Review Submissions from Around the World</h5>
          <!-- TODO: add google map that shows all UPR submissions using the google maps api -->
        </div>

        <div class="col-md-3 tile-button">
          <a href="#" class="btn btn-primary" role="button">UPR Guide</a>
          <h5 class="caption">Learn more about how the Universal Periodic Review works and the basic guidelines to submit a complaint</h5>
            <!-- TODO: route the creation of UPR Guidelines -->
        </div>

        <div class="col-md-3 tile-button">
            <a href="#" class="btn btn-primary" role="button">History of UOCHR</a>
            <h5>A History of the United Nations Office of the High Commissioner</h5>
        </div>
      </div>
    </div>
  </content>
{% endblock content %}
