{% extends "base.html" %}

{% block title %}
    U.N. Universal Period Review - Landing Page
{% endblock title %}

{% block content %}
	<content>
    <div class="container">
      <div class="row">
        <div class="col-md-12"></div>
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              <div class="alert alert-info fade in">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                {% for message in messages %}
                  <strong>INFO:</strong> {{ message }}
                {% endfor %}
            </div>
            {% endif %}
          {% endwith %}
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-3 tile-button">
          <a href="#" class="btn btn-primary" role="button">Submit New UPR Complaint</a>
          <h5>Create and submit a new UPR complaint.</h5>
        </div>
        <div class="col-md-3 tile-button">
          <a href="{{ url_for('status') }}" class="btn btn-primary" role="button">Status of UPR Complaint</a>
          <h5>View the current status of a previously submitted UPR complaint.</h5>
            <!-- TODO: route the creation of UPR Guidelines -->
        </div>
        <div class="col-md-3 tile-button">
          <a href="{{ url_for('edit') }}" class="btn btn-primary" role="button">Edit / Merge a UPR Complaint</a>
          <h5>Update an existing UPR complaint that you have submitted.</h5>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 tile-button">
          <a href="{{ url_for('map') }}" class="btn btn-primary" role="button">See Submissions Data</a>
          <h5>See the Map of Universal Periodic Review Submissions from Around the World</h5>
          <!-- TODO: add google map that shows all UPR submissions using the google maps api -->
        </div>
        <div class="col-md-3 tile-button">
          <a href="#" class="btn btn-primary" role="button">UPR Guidelines and Questions</a>
          <h5>Learn more about how the Universal Periodic Review works and the basic guidelines to submit a complaint</h5>
            <!-- TODO: route the creation of UPR Guidelines -->
        </div>
        <div class="col-md-3 tile-button">
          <a href="#" class="btn btn-primary" role="button">History of UOCHR</a>
          <h5>A History of the United Nations Office of the High Commissioner</h5>
        </div>
      </div>
    </div>

  </content>
{% endblock content %}
