{% extends "base.html" %}

{% block title %}
    U.N. Universal Period Review - Landing Page
{% endblock title %}

{% block content %}
	<section>
		<div class="cut cut-top"></div>
		<div class="container">
			<div class="row intro-tables" style="margin-top:-210px;">
				<div class="col-md-4">
					<div class="intro-table intro-table-hover">
						<h5 class="white heading hide-hover">View the current status of a previously submitted UPR complaint.</h5>
						<div class="bottom">
							<h4 class="white heading small-heading no-margin regular">Status of UPR Complaint</h4>
							<a href="status.html" class="btn btn-white-fill expand">Check Status</a>
						</div>
					</div>
				</div>
				<div class="col-md-4" style="border:5px solid #18a5fe;">
					<div class="intro-table intro-table-hover">
						<h5 class="white heading hide-hover">Create and submit a new UPR complaint.</h5>
						<div class="bottom">
							<h4 class="white heading small-heading no-margin regular">Submit New UPR Complaint</h4>
							<a href="submission.html" class="btn btn-white-fill expand">Submit New</a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="intro-table intro-table-hover">
						<h5 class="white heading hide-hover">Update an existing UPR complaint</h5>
						<div class="bottom">
							<h4 class="white heading small-heading no-margin regular">Edit / Merge a UPR Complaint</h4>
							<a href="edit.html" class="btn btn-white-fill expand">Edit / Merge</a>
						</div>
					</div>
				</div>
				</div>
			</div>
		</div>
	</section>
		<section>
		<div class="cut cut-top"></div>
		<div class="container">
			<div class="row intro-tables">
				<div class="col-md-4">
					<div class="intro-table intro-table-hover" style="background-image:url('img/table-1.jpg')">
						<h5 class="white heading hide-hover">See the Map of Universal Periodic Review Submissions from Around the World</h5>
						<div class="bottom">
							<h4 class="white heading small-heading no-margin regular">See Submissions Data</h4>
							<a href="#" class="btn btn-white-fill expand">See Map</a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="intro-table intro-table-hover" style="background-image:url('img/table-2.jpg')">
						<h5 class="white heading hide-hover">Learn more about how the Universal Periodic Review works and the basic guidelines to submit a complaint</h5>
						<div class="bottom">
							<h4 class="white heading small-heading no-margin regular">UPR Guidelines and Questions</h4>
							<a href="#" class="btn btn-white-fill expand">UPR Guidelines</a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="intro-table intro-table-hover" style="background-image:url('img/table-3.jpg')">
						<h5 class="white heading hide-hover">A History of the United Nations Office of the High Commissioner</h5>
						<div class="bottom">
							<h4 class="white heading small-heading no-margin regular">A History of UOCHR</h4>
							<a href="#" class="btn btn-white-fill expand">Learn More</a>
						</div>
					</div>
				</div>
				</div>
			</div>
		</div>
	</section>
{% endblock content %}
