{% extends "base.html" %}

{% block title %}
    U.N. Universal Period Review - Login
{% endblock title %}

{% block content %}

<content>
  <div class="row">
    <div class="col-md-12">
        <div class="form-input center">
          <form action="" method="post" id="login-form">
            <fieldset>
              <label for="Email">Email:</label>
                {{ form.email(class="form-control", placeholder="required") }}
              <label for="Password">Password:</label>
                {{ form.password(class="form-control", placeholder="required") }}
                {{ form.csrf_token }}
            </fieldset>
            <fieldset class="accountAction">
              <input type="submit" class="btn btn-primary" name="submit" value="Submit">
            </fieldset>
          </form>
        </div>
    </div>
  </div>
</content>
{% endblock content %}
