{% extends "base.html" %}

{% block title %}
    U.N. Universal Period Review - Thank You
{% endblock title %}

{% block content %}
	<section class="section section-padded" style="background-image:url('img/header.jpg');">
		<div class="container">
			<div class="row" style="height:700px;"><center>
				<h3 class="light white">The United Nations has received your submission</h3>
				<h1 class="white typed">Thank you!</h1><br />
				<div><button class="flb btn btn-white-fill expand">Return to Home</button></div>
				<div><button class="flb btn btn-white-fill expand">Track Your Submissions</button></div>
				<div><button class="flb btn btn-white-fill expand">Logout</button></div>
		</div>
	</div>
{% endblock content %}
