/*This is a stylesheet that augments the others and moves the on page styles to a single css file.*/

/* STYLES FOR TESTING */
div[class="row"] {
    border: 1px dotted rgb(255, 0, 0);
}

div[class^="col-"] {
	border-right: 1px dotted rgb(255, 0, 0);
	border-left: 1px dotted rgb(255, 0, 0);
}

/* MAIN STYLES */
body {
	padding-top: 50px;
	background-color: #d9d9d9;
	background-image: url('../img/header.jpg');
}

input,
textarea {
	margin:5px;
}

header {
	color: white;
	background-image: url('../img/header.jpg');
	background-color: blue;
}

content {
	padding: 10px;
}

footer {
	position: fixed;
    bottom: 0;
    width: 100%;
	min-height: 50px;
	background-image: url('../img/footer2.jpg');
	background-color: black;
	color: white;
}

.center {
	margin:0 auto;
}

.navbar-brand {
	padding-top: 0;
}

.form-input {
	padding:30px 60px;
	width:75%;
	background-image: url('../img/footer2.jpg');
	color: white;
	border: 1px solid #ffffff;
    box-shadow:  -1px 1px #ffffff,
         -2px 2px #ffffff;
}
