/*This is a stylesheet that augments the others and moves the on page styles to a single css file.*/

/*styles from edit page*/
body {
	padding-top: 50px;
	background-color: #d9d9d9;
}

input,
textarea {
	margin:5px;
}

header {
	background-image: url('../img/header.jpg');
	background-color: blue;
}

content {
	padding: 10px;
}

footer {
	position: fixed;
    bottom: 0;
    width: 100%;
	min-height: 50px;
	background-image: url('../img/footer2.jpg');
	background-color: black;
	color: white;
}

.navbar-brand {
	padding-top: 0;
}

.form-input {
	border:3px solid white;
	padding:30px 60px;
	width:75%;
	background-image: url('../img/footer2.jpg');
}