/*This is a stylesheet that augments the others and moves the on page styles to a single css file.*/

/*styles from edit page*/
body p,
.bigbox {
	font-size:17px;
	display:block;
	float:left;
	position:relative;
	margin:5px;
}

input,
textarea {
	margin-top:5px;
}

.tg  {
	border-collapse:collapse;
	border-spacing:0;
	margin-bottom:30px;
}

.tg tr td{
	font-size:24px;
	color:white;
	padding:16px 10px;
	border-style:solid;
	border-width:1px;
	overflow:hidden;
	word-break:normal;
}

.tg th{
	font-size:24px;
	color:white;
	font-weight:bold;
	padding:10px 5px;
	border-style:solid;
	border-width:0px;
	overflow:hidden;
	word-break:normal;
	vertical-align:bottom
	min-width: 100px;
}

.tg,
.tg-yw4l{
	vertical-align:top
}

.flb {
	display:block;
	margin:10px;
	position:relative;
}
